.main input {
	text-align: center;
	font-size: 1.5em;
	box-sizing: border-box;
} 


div.list {
	max-height: 30vh;
	overflow: scroll;
	border:  1px solid;
	background: white;
	padding: 0.2cm 0.5cm;
	margin: 0 0.5cm;
} 

div.list div {
	line-height: 2em;
	text-align: center;
}
.keyman_icon {
	display:block;
	float:right;
	width: 2em;
	height:  2em;
	/* border: 1px solid; */
	z-index: 2;
	/* text-align: right; */
}