.arrows {
	display:block;
	width: 1em;
	padding: 0.1em;
}
.left.arrows {
	float:left;
}

.right.arrows {
	float:right;
}

.showpwd .options .button2{
	text-align: center;
}

.showpwd .order {
	display: block;
	position: absolute;
	right: 0;
	top: 0;
}

.showpwd .panel {
	margin-bottom: 1em;
}

.showpwd button[name=remember] {
	animation-name: pulse;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-out;
	background-color: #78ff78;
	background-image: none;
}

.showpwd button[name=remember]:disabled {
	animation: none;
	background-color: inherit;
	/* background-image: none; */
}	

@keyframes pulse {
	0% {
		transform: scale(1,1);
	}
	50% {
		transform: scale(1,1);
	}
	75% {
		transform: scale(1.1,1.1);
	}
	100% {
		transform: scale(1,1);
	}
}

.showpwd .trash_icon {
	float:right;
	background-image: url(../img/trash.png);
	background-position: center;
	background-size: 80%;
	background-repeat: no-repeat;
	font-size: 0;
	width:  1cm;
	height:  1cm;
	border: 0;
}

.showpwd .typesell{
	display:  inline-block;
	width: auto;
	border:  0;
	background: none;
	margin: -1em 0 -1em 0;
	/* padding: 0; */
}

.longclicknote {
	position:absolute;
	left:10vmin;
	right:10vmin;
	top: 12vmax;
	border: 1px solid;
	padding: 5px;
	background-color: yellow;
	box-shadow: 1vh 1vh 2vh rgb(0,0,0,0.5);
}